.icon-list__item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: var(--border);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--c-dark);
}

.icon-list__item:last-child {
    border-bottom: none;
}

.icon-list__icon {
    width: 28px;
    height: 26px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: left;
    transition: all 0.3s ease-in;

    @media (max-width: 768px) {
        width: 22px;
        height: 20px;
    }
}

@media (max-width: 768px) {
    .icon-list__item {
        font-size: 16px;
    }
}