/* ============================================================
   PROCESS (06)
   ============================================================ */
.s-process {
  border-top: var(--border);
  border-bottom: var(--border);
  position: relative;
  z-index: 10;
  background: var(--c-bg);

  &--top {
    border-bottom: none;

  }

  &--bottom {
    border-bottom: none;

    @media (max-width: 768px) {
      // margin-bottom: 50px;
    }

    .s-process__wrap {
      border-left: 0;
      border-right: 0;

      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }

  &__header {
    padding: 90px 40px;

    @media (max-width: 768px) {
      padding: 50px 10px;
    }

    .section-title {
      max-width: 860px;
      text-align: center;
      margin: 20px auto 0;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    min-height: 270px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      min-height: auto;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      min-height: auto;
    }
  }
}

.process-step {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;

  &:nth-child(1),
  &:nth-child(2) {
    border-bottom: var(--border);

    @media screen and (max-widht:1024px) {
      grid-template-columns: 1fr;
    }
  }

  &:nth-child(even) {
    border-right: var(--border);
  }

  @media (max-width: 1024px) {
    border-bottom: var(--border);
    border-right: var(--border);
  }

  @media (max-width: 768px) {
    flex: none;
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 35px 25px;
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 16px;

    .card-title {
      font-size: 17px;
    }

    &--image {
      img {
        width: 110px;
        height: 110px;
      }
    }
  }

  &:last-child {
    border-right: var(--border);

    @media (max-width: 768px) {
      border-bottom: none;
    }
  }

  &:nth-child(even) {
    @media (max-width: 1024px) {
      border-right: var(--border);
    }

    @media (max-width: 768px) {
      border-right: var(--border);
    }
  }

  &__top {
    gap: 10px;

    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  // &:hover img {
  //   scale: 1.03;
  // }

  img {
    transition: scale 0.3s ease-in-out;
    object-fit: cover;
  }
}
