parameters:
	ignoreErrors:
		-
			message: '#^Left side of \|\| is always false\.$#'
			identifier: booleanOr.leftAlwaysFalse
			count: 1
			path: configure/acf-blocks.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: configure/ajax.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: configure/optimize.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: configure/optimize.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: configure/shortcodes.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: configure/taxonomies.php
